@model IEnumerable<BarIndexViewModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<h1>World's Best Bars</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>

@*<input type="search" id="search" class="search" placeholder="Search..." />*@

<div class="text-left">
	<table class="table" id="table1">
		<thead>
			<tr>
				<th>BarName</th>
				<th>Country</th>
				<th>City</th>
				<th>AverageRating</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
				</td>

				<td>@item.Country</td>
				<td>@item.City</td>
				<td>@item.AverageRating</td>
				@if (User.IsInRole("Member"))
				{
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
				}

			</tr>
			}
		</tbody>
	</table>
</div>




