@model TopRated


@{
	ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Welcome</h1>

		<div class="text-md-center">
			<h3 class="display-4">Top Rated Bars</h3>
			<br />

			<div class="row">
				@foreach (var item in Model.TopRatedBars)
				{
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img src="@item.ImagePath" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">@item.Name @item.AverageRating</h5>
							<p class="card-text">
								<div class="font-weight-bold"></div> @item.Country
								<div class="font-weight-bold"></div> @item.City
						</div>
					</div>
				</div>
				}
			</div>		
		</div>

		<div class="text-md-center">
			<h3 class="display-4">Top Rated Cocktails</h3>
			<br />

			<div class="row">
				@foreach (var item in Model.TopRatedCocktails)
				{
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
						<img src="@item.ImagePath" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">@item.Name @item.AverageRating</h5>
							<p class="card-text">
								<div class="font-weight-bold">Name: </div> @item.Name<br />
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
