@model TopRated


@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        a,
        a:hover {
            color: inherit;
        }
    </style>
}

<div class="text-center">

	<div class="text-md-center">
		<h2 class="display-4">Top Rated Bars</h2>
		<br />

		<div class="row">
			@foreach (var item in Model.TopRatedBars)
			{
			<div class="col-sm-3">
				<a asp-controller="Bars" area=" " asp-action="Details" asp-route-id="@item.Id">

					<div class="card">
						@if (string.IsNullOrEmpty(@item.ImagePath))
						{
							<img src="/images/DefaultBar.png" class="card-img-top" alt="...">
						}
						else
						{
							<img src="@item.ImagePath" class="card-img-top" alt="...">
						}
						<div class="card-body">
							<h5 class="card-title">@item.Name</h5>
							<h6 class="font-weight-bold">Average Rating - @item.AverageRating</h6>
							<p class="card-text">
								<div class="font-weight-bold"></div> @item.Country
								<div class="font-weight-bold"></div> @item.City
						</div>
					</div>
				</a>
			</div>
			}
		</div>
	</div>
	<p>	</p>
	<div class="text-md-center">
		
		<h2 class="display-4"> Top Rated Cocktails</h2>
		<br />

		<div class="row">
			@foreach (var item in Model.TopRatedCocktails)
			{

			<div class="col-sm-3">
				<a class="card custom-card" asp-controller="Cocktails" area=" " asp-action="Details" asp-route-id="@item.Id">

					<div class="card-body">

						<img src="@item.ImagePath" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">@item.Name</h5>
							<h6 class="font-weight-bold">Average Rating - @item.AverageRating</h6>
							<p class="card-text">
						</div>
					</div>
				</a>
			</div>
			}
		</div>
	</div>
</div>
