@using System
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@model CocktailMenuViewModel

@{
    ViewData["Title"] = $"Where to find {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
}

<h1>Where to find @Model.Name:</h1>

<table id="menuTable" class="table table-bordered">
    <!--hover order-column stripe-->
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(vm => vm.ImagePath)</th>
            <th>@Html.DisplayNameFor(vm => vm.Name)</th>
            <th>@Html.DisplayNameFor(vm => vm.BarPrices)</th>
        </tr>

        @foreach (var bar in Model.BarPrices)
        {
            <tr>
                <td>
                    <div class="col-sm-2">
                                @if (string.IsNullOrEmpty(bar.ImagePath))
                                {
                                    <img src="/images/DefaultBar.png" class="img-fluid" title="@bar.Name">
                                }
                                else
                                {
                                    <img src="@bar.ImagePath" class="img-fluid" title="@bar.Name">
                                }
                            </div>
                </td>
                <td>@bar.Name</td>
                <td>@bar.Price</td>
            </tr>
        }
    </thead>
</table>
@*@{
    int.TryParse(ViewData["PageNumber"].ToString(), out int currentPage);
    if (ViewData["HasPreviousPage"].ToString() == "true")
    {
        <button type="button" class="btn btn-outline-primary" asp-controller="Bars" asp-action="MenuIndex" asp-route-id="@currentPage - 1">Previous</button>
    }
    else
    {
        <button type="button" class="btn btn-outline-secondary disabled">Previous</button>
    }
    if (ViewData["HasNextPage"].ToString() == "true")
    {
        <button type="button" class="btn btn-outline-primary" asp-controller="Bars" asp-action="MenuIndex" asp-route-id="@currentPage + 1">Next</button>
    }
    else
    {
        <button type="button" class="btn btn-outline-secondary disabled">Next</button>
    }
}*@